@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Nokora&family=Raleway&family=Source+Sans+Pro:ital@1&display=swap');

:root {
  --light: #C7C3C3;
  --white: #FFFFFF;
  --dark-grey: #343a40;
  --light-grey: #6c757d;
  --grey: #6D6262;
}

body {
  background-color: var(--light);
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
  font-family: 'Nokora', sans-serif;
}

.container {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  cursor: pointer;
}

.item {
  background-color: var(--white);
  border-radius: 5px;
  display: inline-block;
  width: 10rem;
  align-self: stretch;
  text-align: center;
  transition: all 0.10s linear;
}

.item:hover {
  background-color: var(--dark-grey);
  color: var(--white);
  position: relative;
  top: -5px;
  left: -3px;
  box-shadow: 5px 5px 7px /*var(--white)*/#e9ecef;  
}

.emoji {
  font-size: 250%;
}

nav {
  background: black;
  height: 2rem;
  margin-bottom: 0.75rem;
  padding: 0.5rem 1rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 1);
}

.img {
  display: inline;
  /* padding-bottom: 0.5rem; */
  margin-bottom: 3rem;
}

.img > img {
  width: 2.5rem;
  float: left;
  margin-top: -0.25rem;
}

.nav-header {
  display: inline;
}

.nav-header > a {
  float: right;
  text-decoration: none;
  color: white;
  margin-top: -1.5rem;
}

.nav-header > h2 {
  margin-top: 0.25rem;
  color: white;
}

.search {
  text-align: center;
  margin: 1rem;
}

.search > input {
  border-radius: 5px;
  border: 2px solid var(--grey);
  font-size: 110;
  outline: none;
}

.search > h3 {
  margin-top: 0.5rem;
}

.no-result {
  text-align: center;
}

.copied, .copied:hover {
  background-color: var(--light-grey);
}